<div class="row" >
    <div class="col-md-6 col-lg-11">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">服务订单信息</div>
            <div class="panel-body">

                <!--搜索-->
                <div class="input-group search-bar">
                    <input type="text" class="form-control form_datetime"ng-model="startTime" placeholder="请选择预约日期" readonly>
                    <!--一行-->
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"  ng-click="getMyServeInfoByStartTime()">
                            <span class="glyphicon glyphicon-search"></span>
                        </button></span>

                </div>
                <!--Table-->
                <table class="table table-striped table-hover table-bordered text-center">
                    <thead>
                    <tr class="text-primary">
                        <td><STRONG>编号</STRONG></td>
                        <td><STRONG> 服务名称</STRONG></td>
                        <td><STRONG>预约类型</STRONG></td>
                        <td><STRONG>预约时间</STRONG></td>
                        <td><STRONG>操作</STRONG></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="serveInfo in parentUseServeInfoList">
                        <td  class="text " ng-model="serveInfo.id" ng-bind="$index+1"></td>
                        <td ng-model="serveInfo.serverItemInfo">{{serveInfo.serverItemInfo}}</td>
                        <td ng-model="serveInfo.type">{{serveInfo.type}}</td>
                        <td ng-model="serveInfo.orderdateTime">{{serveInfo.orderdateTime}}</td>
                        <td><button  class="btn  btn-danger"  ng-click="deleteServeInfoItem(serveInfo.id)" >删除{{serveInfo.id}}</button></td>
                    </tr>
                    </tbody>
                </table>
                <!--分页-->
                <nav aria-label="Page navigation text-center" class="text-center">
                    <nav aria-label="Page navigation text-center" class="text-center">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </nav>
            </div>
        </div>
    </div>


</div>

<script>

    $(".form_datetime").datepicker({
        format: "yyyy-mm-dd", //显示日期格式
        autoclose: true,
        minView: "month",//只选择到天自动关闭
        language: 'zh-CN',
    });

</script>

