<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    .
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$Title$</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../css/login/mylogin.css" th:href="@{/css/login/mylogin.css}">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" action="/login/form" method="post">
                <span class="heading">用户登录</span>
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="用户名"
                           value="lx"/>
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control" id="password" name="password" placeholder="密　码"
                           value="lx"/>
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>


                <div class="form-group">
                    <select class="btn btn-danger pull-left " name="author" style="background-color: #F0F0F0;color: #00B4EF" alt="请选择登陆类型"  placeholder="登陆类型">
                        <option value="null">请选择登陆类型</option>
                        <option value="parent">老人</option>
                        <option value="children">子女</option>
                        <option value="staff">员工</option>
                        <option value="admin">管理员</option>
                    </select>
                    <!--<select   class="btn btn-danger pull-right " name="author" style="background-color: #F0F0F0;color: #00B4EF" alt="请选择登陆类型"  placeholder="登陆类型">-->
                        <!--<option value="null">注册</option>-->
                        <!--<option value="parent">老人</option>-->
                        <!--<option value="children">子女</option>-->
                    <!--</select>-->



                    <div class="dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            选择注册类型
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu " aria-labelledby="dropdownMenu1">
                            <li><a href="/views/regNewUser/reg.html">老人</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/views/regNewUser/regChildren.html">子女</a></li>
                        </ul>
                </div>
                <button type="submit" class="btn ">登 &nbsp; &nbsp;录</button>


                </div>
            </form>


        </div>
    </div>
</div>

<script src="../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>