<div class="row">
    <div class="col-md-6 col-lg-11">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">服务信息</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <td><input class="text text-primary" ng-model="serveAddInfo" placeholder="请输入服务信息" required></td>
                </tr>
                <tr>
                    <td> <button class= "btn btn-success" ng-click="ok()">新增</button>
                        <button class= "btn btn-success" ng-click="cancel()">取消</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>