<div class="row">
    <div class="col-md-6 col-lg-11">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">服务信息</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td><input class="text text-primary" ng-bind="serveAddInfo" placeholder="请输入服务信息" required></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>